*{
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar a:hover{
    margin: 1px;
    padding: 0.5px;
    background-color: black;
    border-radius: 5px;
    color: azure;
}

/* landing page body */
#landing{
  /* background-image: linear-gradient(cadetblue, grey, cadetblue);  */
  height: 100svh;
  background-image: url(https://i.postimg.cc/BvbDNDbK/watches-with-drops-o.jpg);
  /* background-image: url(https://i.postimg.cc/BbBw4Z0Z/time-3091031-1920.jpg); */
  background-size: cover;
  background-position: center;
}

.title{
    font-family: 'Jacques Francois Shadow';font-size: 22px;
    font-size: 50px;
    color: aliceblue;
}

span{
    color: brown;
    font-weight: bolder;
} 

/* About page */
#about{
    text-align: center;
    background-color: #7BB090;
}
#aboutmain{
    text-align: center;
}

/* media queries */
@media screen and (max-width: 421px) {
    iframe{
        width: 280px;
        height: auto;
    }
}

/* Product page */
.btn{
    width: 80px;
} 


.spinner{
   margin-left: 39rem;
   margin-top: 3rem;
   margin-bottom: 3rem;
}

/* admin */
.table img{
    height: 50px;
    width: 50px;
}

.adminMain{
    height: 100svh;
}
/* media queries admin */
@media screen and (max-width: 560px) {
    #adminTable{
        width: 280px;
        height: auto;
    }
}


/* Checkout */
table tr td img{
    height: 60px;
    width: 60px;
}

/* media queries */
@media screen and (max-width: 720px) {
    table{
        width: auto;
        height: auto;
    }
}

/* Contacts */

#contactImg{
    height: 20px;
    width: 20px;
}

.contact{
    background-color: #8D8D65;
}


/* footer */
footer{
    height: 50px;
    text-align: center;
    font-size: large;
}

#iconsF{
    height: 20px;
    width: 20px;
}

#iconsF:hover{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 2px;
}


.card-img-top{
    height: 200px;
}

/* media queries */
@media screen and (max-width: 410px) {
    footer{
        display: none;
    }
}